body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    font-family: Nunito;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

a::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: pink;
    position: absolute;
    left: 0;
    bottom: -2px;
}

a:hover::after {
    height: 4px;
}

nav {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    max-width: 1000px;
    margin: 0 auto 30px;
    font-size: 20px;
    letter-spacing: 0.5px;
}

@media only screen and (min-width: 800px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 40px;
        margin-bottom: 70px;
    }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

menu {
    padding: 5px;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-home-menu {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.nav-sections-menu ul {
    display: flex;
    justify-content: center;
}

.nav-sections-menu li {
    margin-right: 10px;
    position: relative;
    padding: 2px;
}

.nav-sections-menu li:last-of-type {
    margin-right: 0;
}

header {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

@media only screen and (min-width: 800px) {
    header {
        flex-direction: row;
        justify-content: center;
    }
}

header h1 {
    font-size: 40px;
    font-family: lora;
    letter-spacing: 1px;
    text-align: center;
}

@media only screen and (min-width: 800px) {
    header h1 {
        text-align: left;
    }
}

header p {
    font-size: 20px;
    letter-spacing: 0.5px;
}

header div {
    max-width: 550px;
}

header img {
    border-radius: 2000px;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

@media only screen and (min-width: 800px) {
    header img {
        margin: 0;
        margin-right: 50px;
    }
}

#portfolio {
    max-width: 800px;
    margin: 0 auto;
}

#portfolio h2 {
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size:20px;
}


#portfolio p {
 font-size: 20px;
}


@media only screen and (min-width: 800px) {
    #portfolio h2 {
        margin-left: 0;
    }
}

.portfolio-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    height: 300px;
    padding-left: 50px;
    margin-bottom: 30px;
    position: relative;
}

.portfolio-link::after {
    display: none;
}

.portfolio-link:hover h3 {
    text-decoration: underline;
}

.portfolio-link h3 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.portfolio-link div {
    max-width: 250px;
}

.portfolio-link img {
    height: 100%;
    margin-right: 10px;
    transform: rotate(20deg);
    overflow: hidden;
}

@media only screen and (min-width: 800px) {
    .portfolio-link img {
        margin-right: 70px;
    }
}

.portfolio-link.one {
    background-color: darkorange;
}

.portfolio-link.two {
    background-color: #fee992;
}

.portfolio-link.three {
    background-color: #9ae5cf;
}

footer {
    text-align: center;
    padding: 50px 0;
}

.footer-title {
    text-transform: uppercase;
    font-size: 22px;
}

.footer-text {
    font-size: 20px;
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

article h1 {
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

@media only screen and (min-width: 800px) {
    .portfolio-section {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-bottom: 50px;
    }
}

.portfolio-section h2 {
    margin: 10px 0;
    font-weight: lighter;
    position: relative;
}


.portfolio-section h2::after {
    content: "";
    height: 4px;
    width: 80px;
    background-color: darkorange;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.portfolio-section h3 {
    font-weight: lighter;
}

.portfolio-section p {
    margin: 10px 0;
}

.portfolio-section img {
    width: 100%;
    margin-top: 10px;
}

@media only screen and (min-width: 800px) {
    .portfolio-section-text {
        padding-left: 20px;
    }
}

figcaption {
    font-style: italic;
}

b {
    font-weight: 600;
}

